<h1>Subscriptions</h1>

<% @subscriptions.each do |subscription| %>
  <h2><%= link_to subscription.name, subscription %> </h2>
  <p><%= subscription.price %></p>
<% end %>

<%= link_to "Add subscription", new_subscription_path %>